body {
  background-color: #f2f7fe;
  margin: 0;
  padding: 0.7em;
  /*top right bottom left*/
}
.SectionHeaderBg {
  height: 34px;
  background-image: url(../img/section_header_bg.jpg);
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
.SectionHeaderBgCap {
  height: 34px;
  width: 74px;
  background-image: url(../img/section_header_bg_cap.jpg);
  background-repeat: no-repeat;
}
.SectionHeader,
.SectionHeader2 {
  width: 162px;
  background-image: url(../img/section_header.jpg);
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 0.84em;
  color: #0F1B52;
  font-family: "Helvetica", Arial, sans-serif;
  padding-left: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: left;
}
.SectionHeader2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 11pt;
}
.SectionBody {
  padding: 0em 1.85em 2.5em 1.85em;
  /*top right bottom left*/
  width: 100%;
  font-size: 0.8em;
  font-family: "Helvetica", Arial, sans-serif;
  color: #666699;
  clear: both;
}
.ContentLnk a {
  color: #666699;
  font-weight: bold;
  text-decoration: none;
  line-height: 130%;
}
.ContentLnk a:hover,
.ContentLnk a:focus-visible {
  color: #6666ff;
  font-weight: bold;
  text-decoration: underline;
}
.pad {
  padding-bottom: 0.2em;
}
.LineBg {
  height: 7px;
  background-image: url(../img/line.jpg);
  white-space: nowrap;
  clear: both;
  width: 100%;
}
.LineRightCap,
.LineLeftCap {
  height: 7px;
  width: 74px;
  background-image: url(../img/line_right_cap.jpg);
  background-repeat: no-repeat;
  float: right;
}
.LineLeftCap {
  background-image: url(../img/line_left_cap.jpg);
  float: left;
}
.Copyright {
  font-weight: normal;
  font-size: 0.9em;
  font-family: Arial;
  color: #666699;
  clear: both;
}
.Container {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  color: #666699;
  clear: both;
  margin: 0 auto;
  width: auto;
  padding: 0.3em 1.85em 2.5em 1.85em;
  /*top right bottom left*/
}
.Left {
  float: left;
  width: 520px;
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: normal;
  /* CSS3 */
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  text-align: justify;
}
.Right {
  font-size: 0.9em;
  font-family: Arial;
  float: right;
  width: 500px;
}
.FooterSep {
  clear: both;
}
.Centering {
  display: table;
  margin: 0 auto;
}
.MainHeader {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  display: table;
  width: 100%;
  background-color: #dde3f2;
  padding: 0.7em 1em 0.7em 1em;
  /*top right bottom left*/
  color: #666699;
  margin-bottom: 1.5em;
}
.sticky_header {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: box-shadow 0.2s ease;
}
.is_stuck {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.HeaderCont {
  display: table-cell;
  vertical-align: middle;
}
.Fnormal,
a.Fnormal {
  font-weight: normal;
}
.Nav {
  font-weight: normal;
}
.Nav > a {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.Nav > a:first-child {
  margin-left: 0;
}
.Nav > a:last-child {
  margin-right: 0;
}
a.LinkCurr {
  font-weight: bold;
  text-decoration: none;
}
a.LinkCurr:hover,
a.LinkCurr:focus-visible {
  text-decoration: none !important;
  color: #666699 !important;
}
.Lnk a {
  color: #666699;
  text-decoration: none;
}
.Lnk a:hover,
.Lnk a:focus-visible {
  color: #6666ff;
  text-decoration: underline;
}
.LogoName {
  display: inline;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  float: right;
  text-align: right;
  line-height: 105%;
}
.CtlButtons {
  background-color: #FFFBFF;
  border: 1px solid #B0B0E7;
  font-family: Verdana;
  font-size: 9pt;
  color: #284775;
  -moz-outline-style: none;
  outline-style: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
.FormContainer {
  font-family: Verdana;
  font-size: 10pt;
  color: #669;
  margin: 0;
  padding: 5px 25px 0 25px;
  /*top right bottom left*/
}
.FormContainer textarea {
  width: 100%;
  margin-bottom: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=submit][disabled=true],
*.Grayed {
  color: silver;
}
.LabelFix1 {
  display: inline-block;
  width: 8em;
}
.FormItem {
  margin-bottom: 1em;
  clear: right;
  vertical-align: middle;
}
.FormBigItem {
  clear: both;
}
.Captcha {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1em;
}
.InnerFormItem {
  vertical-align: middle;
  display: inline-block;
}
.FormButtonsPanel {
  clear: both;
  padding: 8px;
  background-color: #dde3f2;
}
.FormButtonsPanel::after {
  content: "";
  display: block;
  clear: both;
}
.FloatRight {
  margin-left: auto;
  margin-right: 0;
  float: right;
}
.Clear {
  display: block;
  clear: both;
}
.ValSummary {
  color: darkred;
  border: 1px solid darkred;
  margin-bottom: 2em;
  padding: 4px 0 0 4px;
  /*top right bottom left*/
}
.OpMessageOK {
  color: darkgreen;
  border: 1px solid darkgreen;
  padding: 4px;
  margin-bottom: 2em;
  text-align: center;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}
.OpMessageErr {
  color: darkred;
  border: 1px solid darkred;
  padding: 4px;
  margin-bottom: 2em;
  text-align: center;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}
/* Чтобы контейнер набирал высоту при использовании float-элементов */
/*div:after, form:after, ul:after, ol:after, dl:after, dt:after, dd:after, h1:after, h2:after, h3:after, h4:after, p:after {
    content: "";
    display: block;
    clear: both;
}*/
.ImgThumbNormal {
  border-width: 0;
  width: 1024px;
  height: 186px;
}
.ImgThumbNormal_Ice {
  border-width: 0;
  width: 1023px;
  height: 184px;
}
.ImgThumbNormal_Ind {
  border-width: 0;
  width: 1024px;
  height: 187px;
}
.ImgThumbNormal_Kgz {
  border-width: 0;
  width: 1024px;
  height: 188px;
}
.ImgThumbNormal_Norw2016 {
  border-width: 0;
  width: 1025px;
  height: 187px;
}
.ImgThumbNormal_Usa2017 {
  border-width: 0;
  width: 1024px;
  height: 186px;
}
.ImgThumbNormal_TrollTunga2016 {
  border-width: 0;
  width: 1024px;
  height: 185px;
}
.ImgThumbNormal_Myanmar2015 {
  border-width: 0;
  width: 1024px;
  height: 184px;
}
.ImgThumbSmall {
  border-width: 0;
  width: 860px;
  height: 157px;
}
@media screen and (max-width: 1074px) {
  .ImgThumbNormal,
  .ImgThumbSmall,
  .ImgThumbNormal_Ice,
  .ImgThumbNormal_Ind,
  .ImgThumbNormal_Kgz,
  .ImgThumbNormal_Norw2016,
  .ImgThumbNormal_TrollTunga2016,
  .ImgThumbNormal_Usa2017,
  .ImgThumbNormal_Myanmar2015 {
    width: 90%;
    height: auto;
    min-width: 200px;
  }
}
.FadeOnLoad {
  opacity: 0;
  will-change: transition, opacity;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}
.EasingShadow {
  will-change: transition;
  -webkit-transition: 1.2s ease-out;
  -moz-transition: 1.2s ease-out;
  -ms-transition: 1.2s ease-out;
  -o-transition: 1.2s ease-out;
  transition: 1.2s ease-out;
  border-style: none;
}
.EasingShadow:hover {
  -moz-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.8);
  will-change: transition;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}