body.horizon {
  background-color: #f0f7fc;
}
.PageContainer {
  margin: 0 auto;
  /* маржены и центрирование блока страницы: верх/низ, левый и правй */
  padding: 0 0 32px 0;
  box-sizing: border-box;
  min-width: min-content;
  max-width: 100%;
  width: 0;
}
.PageContainer .LinkBtn {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  left: -50px;
  top: -25px;
  padding: 10px 20px;
  background-color: #dde3f2;
  color: #666699;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  will-change: transform;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.25s ease;
}
.PageContainer .LinkBtn:hover,
.PageContainer .LinkBtn:focus-visible {
  background-color: #E35F00;
  color: #FFFFFF;
  transform: translateY(-1px);
}
.PageContainer .LinkBtn:active {
  transform: translateY(0);
}
.PageContainer .ShareLinkPosHorizon {
  margin-right: 2rem;
}
.PageContainer .FooterContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MenuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* лево и право в одной линии */
  gap: 1em;
  background-color: #dde3f2;
  /*top right bottom left*/
  padding: 0.7em 1em 0.7em 1em;
  color: #666699;
}
.MenuHeader .MenuHeaderContent {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 12pt;
  gap: 0.5em;
}
.MenuHeader .LogoName {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  line-height: 110%;
  color: #E35F00;
}
.LnkCont a {
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
  transition: color 0.5s ease;
  text-decoration: none;
  color: #666699;
}
.LnkCont a:hover,
.LnkCont a:focus-visible {
  color: #6666ff;
}
.LnkCont a > svg {
  width: 24px;
  height: 24px;
}
.MainContainer {
  position: relative;
  color: #666699;
  padding: 0 0 2em 0;
  /*top right bottom left*/
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* центровка контента по горизонтали */
  gap: 1em;
}
.MainContainer .LogoImg {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translate(-20%, -25%);
}
.MainContainer .HeaderContainer {
  position: relative;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  font-style: italic;
  line-height: 1.5;
  min-width: 0;
  max-width: 1100px;
  align-self: flex-end;
  word-break: break-word;
  margin-bottom: 4px;
  text-align: right;
}
.MainContainer .InnerContainer {
  position: relative;
  display: flex;
  gap: 1em;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}
.MainContainer .LandingImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainContainer .Subscriptions {
  display: flex;
  flex-direction: column;
  /* вертикально */
  justify-content: space-between;
}
.MainContainer .Subscriptions > div {
  position: relative;
}
.PlainText {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  color: #666699;
}
.PlainText > p:first-of-type {
  margin-block-start: 0.2em;
}
.PlainText > p:last-of-type {
  margin-block-end: 1.5em;
}
.StepsList > li {
  margin-bottom: 0.5em;
}
.StepsList > li:last-child {
  margin-bottom: 0;
}
.ImgCentered {
  display: block;
  margin: 0 auto;
}