<?xml version="1.0" encoding="utf-8"?>
<!--   
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>    
    <section name="awsLocales" type="AwsConfigSection" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />    
  </configSections>
  <awsLocales>
    <locale description="Generic English" providerName="en" sitemapFileSuffix="-en" culture="en-US" />
    <locale description="Russian" providerName="ru" sitemapFileSuffix="-ru" culture="ru-RU" />
  </awsLocales>
  <appSettings>
    <add key="login-via-https" value="false" />
    <add key="full-image-security-validation" value="false" />
    <!-- Если true, то картинки отдаются через ashx и в html вместо прямого url вставляется ссылка на ImageHandler.ashx -->
  </appSettings>
  <connectionStrings>
    <!--add name="ASPNETDB" providerName="System.Data.SqlClient" connectionString="Data Source=sql391.mysite4now.com; Initial Catalog=AlbumsSecDB;User ID=AlbumsSecDB;password=xYodj125;" /-->
    <!--add name="ASPNETDB" providerName="System.Data.SqlClient" connectionString="Data Source=wks1; Initial Catalog=AlbumsSecDB;User ID=AlbumsSecDB;password=xYodj125;"/-->
    <!--add name="ASPNETDB" providerName="System.Data.SqlClient" connectionString="Data Source=VCNSQL83.webhost4life.com; Initial Catalog=AlbumsSecDB;User ID=AlbumsSecDB;password=xYodj125;" /-->
  </connectionStrings>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="TestLayout.html">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="albums">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false">
    <system.web>
		<trust level="Full" />
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20" sessionIDManagerType="" />
    <pages buffer="true" masterPageFile="~/AlbumMasterPage.master" enableSessionState="true" enableViewState="true" theme="Default" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <siteMap defaultProvider="ru" enabled="true">
      <providers>
        <!--remove name ="AspNetXmlSiteMapProvider" /-->
        <clear />
        <add name="en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Web-en.sitemap" />
        <add name="ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Web-ru.sitemap" />
        <add name="crimea2006-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/crimea2006-en.sitemap" />
        <add name="seliger-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/seliger-ru.sitemap" />
        <add name="crimea2006-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/crimea2006-ru.sitemap" />
        <add name="crimea2007-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/crimea2007-ru.sitemap" />
        <add name="MoscowProvince-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/MoscowProvince-ru.sitemap" />
        <add name="aws-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/AWS-en.sitemap" />
        <add name="aws-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/AWS-ru.sitemap" />
        <add name="Greece-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Greece-ru.sitemap" />
        <add name="Italy-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Italy-ru.sitemap" />
        <add name="Italy-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Italy-en.sitemap" />
        <add name="Adygeya-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Adygeya-ru.sitemap" />
        <add name="Norway-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Norway-en.sitemap" />
        <add name="Norway-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Norway-ru.sitemap" />
        <add name="Iceland-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Iceland-en.sitemap" />
        <add name="Iceland-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Iceland-ru.sitemap" />
        <add name="SpainFrance-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/SpainFrance-ru.sitemap" />
        <add name="SpainFrance-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/SpainFrance-en.sitemap" />
        <add name="Interfax-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Interfax-en.sitemap" />
        <add name="Interfax-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Interfax-ru.sitemap" />
        <add name="Off1905-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Off1905-en.sitemap" />
        <add name="Off1905-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Off1905-ru.sitemap" />
        <add name="Family-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Family-ru.sitemap" />
        <add name="Family-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Family-en.sitemap" />
        <add name="Morocco2013-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Morocco2103-en.sitemap " />
        <add name="Morocco2013-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Morocco2103-ru.sitemap " />
        <add name="ConfirmitSouz2015-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/ConfirmitSouz2015-ru.sitemap " />
        <add name="ConfirmitSouz2015-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/ConfirmitSouz2015-en.sitemap " />
        <add name="Ehypet2012-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Ehypet2012-en.sitemap " />
        <add name="Ehypet2012-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Ehypet2012-ru.sitemap " />
        <add name="Norway2016-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Norway2016-ru.sitemap " />
        <add name="Norway2016-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Norway2016-en.sitemap " />
        <add name="Myanmar2015-en" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Myanmar2015-en.sitemap " />
        <add name="Myanmar2015-ru" securityTrimmingEnabled="true" type="MyTrimmingProvider" siteMapFile="~/Content/Myanmar2015-ru.sitemap " />
      </providers>
    </siteMap>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="120" name=".ALBUMSAUTHCOOKIE" requireSSL="false" slidingExpiration="true" defaultUrl="PageGen.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" domain="" />
    </authentication>
    <!--membership defaultProvider="DefMembershipSqlProvider" userIsOnlineTimeWindow="120"> 
      <providers>
        <clear/>
        <add name="DefMembershipSqlProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ASPNETDB" applicationName="Seliger" passwordFormat="Clear" passwordAttemptWindow="10" maxInvalidPasswordAttempts="7" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"/>
      </providers>
    </membership>
    
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="DefRoleManagerSqlProvider" cookieName=".ALBUMSROLESCOOKIE" cookiePath="/Albums" cookieTimeout="120" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear/>
        <add name="DefRoleManagerSqlProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ASPNETDB" applicationName="Seliger"/>
      </providers>
    </roleManager-->
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="120">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="XmlMembershipProvider" hashedPassword="true" description="Xml membership provider" xmlFileName="~/App_Data/Users.xml" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CustomRolesProvider">
      <providers>
        <clear />
        <add name="CustomRolesProvider" type="XmlRolesProvider" description="Xml roles provider" xmlFileName="~/App_Data/Users.xml" />
      </providers>
    </roleManager>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
	<customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />    
  </system.web>
  <system.webServer>
	<httpErrors errorMode="DetailedLocalOnly" />
    <validation validateIntegratedModeConfiguration="true" />
    <modules runAllManagedModulesForAllRequests="false" />      
    <!-- true можно использовать вместо ashx для защиты картинок от прямого доступа -->
    <handlers>
      <remove name="BotDetectCaptchaHandler" />
      <!--add name = "h1" verb="*" path="*.jpg" type="AWS.ImgHandler" />
      <add name = "h2" verb="*" path="*.jpeg" type="AWS.ImgHandler" /-->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <!--httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers-->
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH. -->
      <authorization>
        <allow roles="AllAlbums" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>